

/* card formulaire login & inscription */


.form-auth {
    padding: 80px 15px;
    font-size: 33px;
    text-align: center;
    color: $GRfirst;
    background-color: transparent !important;

    input[type=checkbox] {
        -border-radius: 4px;
        height: 30px;
        width: 30px;
        margin: 0px 10px;
        background: #fff;
        border: 1px solid #ccc;
    }

    
    .form-control {
        text-align: center;
        margin: 10px 0px;
        font-size: 28px;

        
    }
}