     <h1 style="text-align: center; color: #8C6456;"><strong>Confirmation Email</strong></h1>
                    <p style="text-align: center;"><strong>Bienvenue sur l'application Gaming Reims,<br />Merci de confirmer votre email !</strong></p>
                        <p style="text-align: center;">&nbsp;</p>
                        <p><strong>
                        <img 
                        style="display: block; margin-left: auto; margin-right: auto;" 
                        src="https://www.cleram.com/hubfs/Imported_Blog_Media/tendances-coworking-2020.jpg"
                        width="543" height="330" />
                        </strong></p>
                        <p>&nbsp;</p>
                        <p style="text-align: center;">Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
                        <br />Veuillez confirmer votre email en cliquant sur ce lien : </p>
                        <p style="text-align: center;">&nbsp;</p>
                        <p style="text-align: center;">
                        <a style="background-color: #BFBA6F; color: #ffffff; padding: 10px 50px; border-radius: 3px;"
                        href="{{ signedUrl }}">Confirmez email</a>
                        </p>
                        <p style="text-align: center;">&nbsp;</p>