{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}
	{{ form_start(form)}}
	{{ form_end(form)}}
{% endblock %}
{% block navbar %}
	<div class="menu-nav" id="nav">
		<nav class="navbar">
			<div class="navcont container-fluid d-flex justify-content-around">
				<a class="nav-link" href="{{path('app_home')}}">
					<i class="fa-solid fa-house"></i>
				</a>
				<a class="nav-link" href="">
					<i class="fa-solid fa-check"></i>
				</a>
			</div>
		</nav>
	</div>
{% endblock %}
